<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" type="text/css" href="../../styles/FrontStore.css">
  <link rel="stylesheet" type="text/css" href="../../styles/Product.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Turkey</title>

</head>

<body>
  <header>
    <div class="header">
      <h1>Online Grocery Store</h1>
      <h2><a href="../Home.html">Home Page</a> </h2>
    </div>

    <div class="row">
      <div class="col-md-3 bg-secondary"><a href="../Aisles.html">Aisles</a> </div>
      <div class="col-md-3 bg-secondary"><a href="../ShoppingCart.html">Shopping Cart</a> </div>
      <div class="col-md-3 bg-secondary"><a href="../Signup.html"> Sign Up</a> </div>
      <div class="col-md-3 bg-secondary"><a href="../UserList.html"> User List</a> </div>
    </div>
  </header>

  <div class="itemdisplay">
    <div class="picture">
      <img src="../../images/product_images/turkey.jpg" alt="Turkey" class="turkey" />
    </div>
    <div class="descriptionandwhatnot" <p class="productname">Turkey</p>
      <p>1kg (2.2lbs)</p><br /><br /><br /><br /><br />
      <button onclick="minus()">-</button><p id="quantity"></p><button onclick="plus()">+</button>
      <br /><br />
      <p class="price">$5.49</p>
      <form action="">
        <input type="button" name="strawberries" value="Add to Cart" />
      </form>
      <br />
      <a href="altturkey.html"><button> Click for Product Description </button></a>
    </div>
  </div>

  <script>
    var x = 1; // this stores quantity
    document.getElementById("quantity").innerHTML = x;

    function plus() {
      x++;
      document.getElementById("quantity").innerHTML = x;
    }
    
    function minus() {
      x--;
      if (x < 1) { // this is so that quantity doesn't drop to 0 or less
        x = 1;
      }
      document.getElementById("quantity").innerHTML = x;
    }

  </script>

  <div>
    <footer>
      <h5> Online Grocery Store</h5>
    </footer>
  </div>

</body>


</html>
