<head>

    <link rel="stylesheet" type="text/css" href="../styles/FrontStore.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Home Page</title>

</head>

<body>
    <header>
        <div class="header">
            <h1>Online Grocery Store</h1>
            <h2>Aisles</h2>
        </div>

        <div class="row">

            <div class="col-md-3 bg-secondary"><a href="Home.html">Home Page</a> </div>
            <div class="col-md-3 bg-secondary"><a href="ShoppingCart.html">Shopping Cart</a> </div>
            <div class="col-md-3 bg-secondary"><a href="Signup.html"> Sign Up</a> </div>
            <div class="col-md-3 bg-secondary"><a href="UserList.html"> User List</a> </div>
        </div>
    </header>
    <div class="aisles">
        <h3> Food Categories</h3>


        <div class="items">
            <h6> Fruits and Vegetables</h6>
            <div class="row">
                <div class="col-md-3 bg-light"><a href="../templates/product_pages/strawberry1.html">Strawberries </a>
                    <div><img src="../images/product_images/strawberries.jpg"> </div>
                </div>
                <div class="col-md-3 bg-light"><a href="../templates/product_pages/apples.html">Apples</a>
                    <div><img src="../images/product_images/apples.jpg"> </div>
                </div>
                <div class="col-md-3 bg-light"> <a href="../templates/product_pages/carrots.html">Carrots</a>
                    <div><img src="../images/product_images/carrots.jpg"> </div>
                </div>
                <div class="col-md-3 bg-light"><a href="../templates/product_pages/lettuce.html">Lettuce</a>
                    <div><img src="../images/product_images/lettuce.jpg"> </div>
                </div>
            </div>
            <div class="proteins">
                <h6> Proteins</h6>
                <div class="row">
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/groundbeef.html">Ground Beef</a>
                        <div><img src="../images/product_images/beef.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/chicken.html">Chicken</a>
                        <div><img src="../images/product_images/chicken.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"> <a href="../templates/product_pages/turkey.html">Turkey</a>
                        <div><img src="../images/product_images/turkey.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/steak.html">Steak</a>
                        <div><img src="../images/product_images/steak.jpg"> </div>
                    </div>
                </div>
            </div>
            <div class="dairy">
                <h6> Dairy Products</h6>
                <div class="row">
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/milk.html">Milk</a>
                        <div><img src="../images/product_images/milk.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/cheese.html">Cheese</a>
                        <div><img src="../images/product_images/cheese.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"> <a href="../templates/product_pages/butter.html">Butter</a>
                        <div><img src="../images/product_images/butter.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/yogurt.html">Yogurt</a>
                        <div><img src="../images/product_images/yogurt.jpg"> </div>
                    </div>
                </div>

            </div>
            <div class="Bakery">
                <h6> Bakery</h6>
                <div class="row">
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/bread.html">Bread</a>
                        <div><img src="../images/product_images/bread.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/muffins.html">Muffins</a>
                        <div><img src="../images/product_images/muffins.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"> <a href="../templates/product_pages/croissants.html">Croissants</a>
                        <div><img src="../images/product_images/croissants.jpg"> </div>
                    </div>
                    <div class="col-md-3 bg-light"><a href="../templates/product_pages/pie.html">Pie</a>
                        <div><img src="../images/product_images/pie.jpg"> </div>
                    </div>
                </div>

            </div>

            <footer>

            </footer>


</body>


</html>