<!DOCTYPE html>

<html>

<head>
   
    <link rel="stylesheet" type="text/css" href="frontStore.css">
    <link rel="stylesheet" type="text/css" href="styles/FrontStore.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title> Contact </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/BackStore.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="HomePage.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="templates/Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>


<div class="contact">
    <h3> Contact Us </h3>
<table>
    <form action="" name="contactForm"  method="post">
        <legend> Fill the form below to contact us</legend>
    <tr>
    <td><label for="userName" > Enter username: </label> </td>
     <td><input type="text" id="userName" name="userName"></td>
    </tr>

    <tr>
        <td>
            <label for="userName" > Enter username: </label>
        </td>
        <td>
            <input type="text" id="userName" name="userName">
        </td>
    </tr>

    <tr>
        <td>
            <label for="itemName" > Enter item name: </label>
        </td>
        <td>
            <input type="text" id="itemName" name="itemName">
        </td>
    </tr>

    <tr>
        <td>
            <label for="orderName" > Enter order number: </label>
        </td>
        <td>
            <input type="text" id="orderName" name="orderName">

        </td>
    </tr>
   <tr>
       <td>
        <label for="questions" > Enter your questions: </label>
       </td>
       <td>
        <textarea id="questions "name="questions" style=" width:400px; height:300px;"></textarea>
       </td>
   </tr>
    <tr>
        <td>
            <input type="submit" value="submit" onclick="checkOrder()">
        </td>
    </tr>

</form>

<script type="text/javascript">
function checkOrder(){
    var order = document.getElementByID("orderName");
    
    var ok = order.search(/^#[0-9]{5}[A-Z]{2}$/)
    if (ok !== 0) {
        alert("Incorrect order format. \n" +
        "Please enter order code with format: #12345AB." )
        return false;
    }
   
  else 
    return true;
}


</script>

</table>
    
</div>



</body>

</html>