<!DOCTYPE html>

<html>

<head>
   
    <link rel="stylesheet" type="text/css" href="../styles/frontStore.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title> Home </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/BackStore.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="Home.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>


<div class="deals" >
    <h4 class="deals-banner"> WEEKLY DEALS! </h4>
<table border="1" >
    <tr>
        <td class="sale-1"> 
            <p> 3.99$ </p>
            <img src="../images/product_images/apples.jpg">
            <p> Save on Apples! </p> 
        </td>    

        <td class="sale-2">
           
            <p> 3.99$ </p>
            <img src="../images/product_images/strawberries.jpg">
            <p> Save on Strawberries!</p>
        </td> 
        <td class="sale-3">
           
                <p> 3.99$ </p>
                <img src="../images/product_images/carrots.jpg">
                <p> Save on Carrots! </p>

        </td>
    </tr>
</table>
</div>

<div class="recipes">
    <h4 class="recipes-banner"> Our favorite recipes </h4>
    <table border="1" >
        <tr>
            <td class="recipe-1"> 
                <img src="../images/product_images/filets-truite-vapeur-soya-limette-5356.jpg">
                <p> Steamed Trout Fillets </p> 
            </td>    
    
            <td class="recipe-2">
                <img src="../images/product_images/poulet-saute-beurre-amandes-11003.jpg">
                <p> Almond Butter Cicken</p>
            </td> 
            <td class="recipe-3">
                    <img src="../images/product_images/poulet-epice-erable-1449.jpg">
                    <p> Spicy Roasted Chicken </p>
    
            </td>
        </tr>
    </table>
</div>

<footer class="footer-banner">
    <a href="contact.html"> <h5> Contact us </h5> </a>
</footer>

</body>

</html>
