<html>

<head>
  <title>Login Form Design</title>
  <link rel="stylesheet" type="text/css" href="../styles/LoginSignUp.css">
</head>

<body>
  <div class="header">
    <h2><a href="Home.html">Online Grocery Store</a> </h2>
  </div>
  <div class="loginbox">
    <img src="../images/miscellaneous/Avatar.png" class="avatar">
    <h1>Login Here</h1>
    <form>
      <p>Email</p>
      <input type="email" name="" placeholder="Enter Email">
      <p>Password</p>
      <input type="password" name="" placeholder="Enter Password">
      <input type="submit" name="" value="Login">
      <a href="#">Forgot password?</a><br>
      <a href="Signup.html">Don't have an account?</a>
    </form>
  </div>
</body>

</html>