<html>
<head>
<title>Login Form Design</title>
    <link rel="stylesheet" type="text/css" href="../styles/LoginSignUpReset.css">
	
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/BackStore.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head> 
<body>
	<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="Home.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>
    <div class="loginbox">
    <img src="../images/miscellaneous/rpassword.png" class="avatar">
        <h1>Reset Password Form</h1>
        <form id="form" action="#">
          <label class="passBox">
          <p>Password</p>
          <input type="password" id="password" placeholder="Enter Password">
			<span class="passText"></span>
		 </label>
          <label class="secondPass">
          <p>Password</p>
          <input type="password" id="second" placeholder="Enter Password">
			<span class="secondText"></span>
		 </label>
          <input type="submit" name="" value="Reset Password">
          <a href="login.html">Back to Login Page</a><br>
          <a href="signup.html">Don't have an account?</a>
        </form>
    </div>
    <script>
		const password = document.getElementById("password");
        const second = document.getElementById("second");


		password.addEventListener('input',()=>{
			const passBox = document.querySelector('.passBox');
			const passText = document.querySelector('.passText');
			const passPattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;

			if(password.value.match(passPattern)){
				passBox.classList.add('valid');
				passBox.classList.remove('invalid');
				passText.innerHTML = "Your Password is Valid"; 
			}else{
				passBox.classList.add('invalid');
				passBox.classList.remove('valid');
				passText.innerHTML = "Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number."; 
			}
		});
        
        second.addEventListener('input',()=>{
			const secondPass = document.querySelector('.secondPass');
			const secondText = document.querySelector('.secondText');
			const passPattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;

			if(password.value.match(passPattern)){
				secondPass.classList.add('valid');
				secondPass.classList.remove('invalid');
				secondText.innerHTML = "Your Password is Valid"; 
			}else{
				secondPass.classList.add('invalid');
				secondPass.classList.remove('valid');
				secondText.innerHTML = "Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number."; 
			}
		});
	</script>
</body>
</html> 
