<!DOCTYPE html>

<html>

<head>

  <link rel="stylesheet" type="text/css" href="../styles/FrontStore.css">
  <link rel="stylesheet" type="text/css" href="../styles/ShoppingCart.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Cart</title>

</head>

<body>
  <header>
    <div class="header">
      <h1>Online Grocery Store</h1>
      <h2><a href="Home.html">Home Page</a> </h2>
    </div>

    <div class="row">


      <div class="col-md-3 bg-secondary"><a href="Aisles.html">Aisles</a> </div>
      <div class="col-md-3 bg-secondary"><a href="ShoppingCart.html">Shopping Cart</a> </div>
      <div class="col-md-3 bg-secondary"><a href="Signup.html"> Sign Up</a> </div>
      <div class="col-md-3 bg-secondary"><a href="UserList.html"> User List</a> </div>

    </div>
  </header>

  <div class="cartheader">
    <h3>Grocery Cart</h3>
  </div>
  <div class="cartbody">
    <div class="item1">
      <br />
      <p><img src="../images/product_images/strawberries.jpg" alt="Garden strawberries"
          class="item1details" /><br />&nbsp&nbsp&nbspStrawberries</p>
      <p>&nbsp&nbsp&nbspGeneric Brand</p>
      <p>&nbsp&nbsp&nbsp$4.50 (450g)</p>
      &nbsp&nbsp&nbsp<button onclick="minus()">-</button><p id="quantity"></p><button onclick="plus()">+</button>
    </div>
    <div class="total">
      <div class="totalprice">
        <br />
        <p id ="subtotal"></p>
        <p id="GST"></p>
        <p id="QST"></p>
      </div>
      <div class="continueshopping">
        <a href="Aisles.html"><button>Continue Shopping</button></a>
      </div>
      <div class="tocheckout">
        <a href=""><button>Proceed to Checkout</button></a>
      </div>
    </div>
  </div>
  <script>
  var x = 1; // x represents quantity
  var price = 4.50;
  var subtotal = x * price;
  var GST = subtotal * 0.05;
  var QST = subtotal * 0.09975;
  document.getElementById("quantity").innerHTML = x;
  document.getElementById("subtotal").innerHTML = "subtotal: $" + subtotal.toFixed(2);
  document.getElementById("GST").innerHTML = "GST: $" + GST.toFixed(2);
  document.getElementById("QST").innerHTML = "QST: $" + QST.toFixed(2);
  function plus() {
    x++;
    document.getElementById("quantity").innerHTML = x;
    subtotal = price * x;
    GST = subtotal * 0.05; 
    QST = subtotal * 0.09975;
    document.getElementById("subtotal").innerHTML = "subtotal: $" + subtotal.toFixed(2);
    document.getElementById("GST").innerHTML = "GST: $" + GST.toFixed(2);
    document.getElementById("QST").innerHTML = "QST: $" + QST.toFixed(2);
  }
  function minus() {
    x--;
    if (x < 1) {
      x = 1;
    }
    document.getElementById("quantity").innerHTML = x;
    subtotal = price * x;
    GST = subtotal * 0.05;
    QST = subtotal * 0.09975;
    document.getElementById("subtotal").innerHTML = "subtotal: $" + subtotal.toFixed(2);
    document.getElementById("GST").innerHTML = "GST: $" + GST.toFixed(2);
    document.getElementById("QST").innerHTML = "QST: $" + QST.toFixed(2);
  }
</script>

  <div>
    <footer>
      <h5> Online Grocery Store</h5>
    </footer>
  </div>

</body>


</html>
