<html>

<head>
    <title>Sign up Form</title>
    <link rel="stylesheet" type="text/css" href="../styles/LoginSignUp.css">
</head>

<body>
    <div class="header">
        <h2><a href="Home.html">Online Grocery Store</a> </h2>
    </div>
    <div class="signup-form">
        <img src="../images/miscellaneous/Picture1.png" class="icon">
        <h1>Sign Up Form</h1>
        <form action="#">
            <p>First Name:</p>
            <input type="text" name="fisrtname" placeholder="First Name">
            <p>Last Name:</p>
            <input type="text" name="lastname" placeholder="Last Name">
            <p>Email</p>
            <input type="email" name="email" placeholder="Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Password">
            <p>Postal Code</p>
            <input type="text" name="postal code" placeholder="Postal Code">
            <input type="submit" name="" value="Sign up">
            <input type="reset" name="" value="Reset">
        </form>
        <a href="Login.html">Already have an account?</a>
    </div>
</body>

</html>