<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" type="text/css" href="../../styles/FrontStoreSecond.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Home </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/BackStore.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

    <!-- Navbar Start -->
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="../Home.html">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../Aisles.html">Aisles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../ShoppingCart.html">Shopping Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../signup.html">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../UserList.html">User List</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </header>
    <!-- Navbar End -->

    <br><br><br>
    <div class="image">
        <img src="../../images/product_images/cheese.jpg">
    </div>
    <div class="product-description">
        <dl>
            <dt>
                <h4> Oka® l'Artisan firm cheese</h4>
            </dt>
            <dd>
                OKA® L'Artisan cheese is a mild, firm
                cheese with tones of hazelnut and butter.
                Irresistible flavour and the distinct
                taste of OKA cheese you know and love,
                with a Swiss take.
            </dd>
            <p> 237 g avg.</p>
            <br />
            <b> 12.06$/each</b>
            <br />
            <pre>

Product number: 190830  </pre>
        </dl>
        <br />

        <h5> Ingredients:</h5>
        <p> KEEP REFRIGERATED. M.F. 28%, MOISTURE 42%.
            PASTEURISED MILK, BACTERIAL CULTURES, SALT,
            CALCIUM CHLORIDE, MICROBIAL ENZYMES.
        </p>


    </div>

</body>

</html>