img {
  float: left;
  margin-left: 100px;
  margin-top: 100px;
  width: 450px;
  height: 300px;}
  #quantity {
    display: inline;
  }
  .beef {
    width: 400px;
    height: 300px;
  }
  .butter {
    width: 400px;
    height: 300px;
  }
  .carrots {
    width: 400px;
    height: 300px;
  }
  .cheese {
    width: 400px;
    height: 300px;
  }
  .chicken {
    width: 400px;
    height: 300px;
  }
  .lettuce {
    width: 300px;
    height: 300px;
  }
  .milk {
    width: 300px;
    height: 300px;
  }
  .turkey {
    width: 400px;
    height: 300px;
  }
  .yogurt {
    width: 350px;
    height: 300px;
  }
.itemdisplay {
  border-style: solid;
  background-color: hsla(253, 1%, 1%, 0.90);
  margin-left: 50px;
  margin-top: 30px;
  width: 1200px;
  height: 500px;}
.picture {
  float: left;}
.descriptionandwhatnot {
  color: white;
  font-family: Arial, Verdana, sans-serif;
  line-height: 0.75em;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 20px;}
p.price {
  font-weight: bold;}
p.productname {
  font-family: Verdana;}
.buttonstyle {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #fb2525;}
  .buttonstyle:hover {
    background-color: #ffc107;
  }
  
footer {
  margin-top: 20px;}
