<!DOCTYPE html>

<html>

<head>
   
    <link rel="stylesheet" type="text/css" href="../../styles/FrontStoreSecond.css">
    <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title> Chips </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/BackStore.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="../Home.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>

<div class="image">
    <img src="../../images/product_images/chips.jpg">
</div>
<div class="product-description">
    <dl>
        <dt>
            <h4> Chips</h4>
        </dt>
        <dd>
            Regular Potato chips 
        </dd>
        <p> 200 g</p>
        <br/>
        <b> 2.99$</b>
        <br/>
        <pre>
            
Product number: 123456 </pre>
    </dl>
    <br/>

    <h5> Ingredients:</h5>
    <p> POTATOS, CANOLA OIL, SALT </p>
   
</div>
<script>
    function calculateAmount() {
        /*display the result*/
        var amount = document.getElementById('qty').value;
        var tot_price = amount * 2.99;
        document.getElementById("price").innerHTML = tot_price.toFixed(2);
    }
</script>
  <div class = "purchase-info">
    <input type = "number" min = "0" value = "0" id="qty" onclick="calculateAmount()">
      
    <button type = "button" class = "btn">
      Add to Cart <i class = "fas fa-shopping-cart"></i>
    </button>
    <button type = "remove" class = "btn">Remove from Cart</button>
    <button type = "button" class = "btn">Compare</button>

  <div class = "total-calculation">
    <p>Total Price per lbs: $<span id="price">0.00</span></p>
</div>
</div>
</body>
</html>
