<html>
  <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="/styles/BackStore.css">
      <meta charset="utf-8">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="../Home.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>
      
    <div class="box">
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
          <div class = "product-category">
              <h1>Category: Fruits and Vegetables</h1>
              
        <div class = "product-imgs">
          <div class = "img-display">
              <img src = "../../images/product_images/strawberries.jpg">
              </div>
    
            <div class = "further-product-detail">
            <h2>Nutritional Values</h2>
            <p>Strawberries are bright red, juicy, and sweet.They’re an excellent source of vitamin C and manganese and also contain decent amounts of folate (vitamin B9) and potassium.Strawberries are very rich in antioxidants and plant compounds, which may have benefits for heart health and blood sugar control No artificials, No added sugars, Paleo-friendly, Vegan-friendly, Vegetarian-friendly, Whole30-friendly.</p>
                <table>
                  <tr>
                    <th colspan="2">Nutrition facts for raw strawberries(100g)</th>
                  </tr>
                  <tr>
                    <td>Calories</td>
                    <td>32</td>
                  </tr>
                  <tr>
                    <td>Water</td>
                    <td>91%</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>0.7g</td>
                  </tr>
                  <tr>
                    <td>Carbs</td>
                    <td>7.7g</td>
                  </tr>
                  <tr>
                    <td>Sugar</td>
                    <td>4.9g</td>
                  </tr>
                  <tr>
                    <td>Fiber</td>
                    <td>2g</td>
                  </tr>
                  <tr>
                    <td>Fat</td>
                    <td>0.3g</td>
                  </tr>
              </table>
            </div>
          </div>
          </div>
          
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">Strawberries</h2>
          <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.5(21)</span>
          </div>

          <div class = "product-price">
            <p class = "last-price">Old Price(/3lb): <span>$5.34</span></p>
            <p class = "new-price">New Price(/3lb): <span>$3.97</span></p>
          </div>

          <div class = "product-detail">
            <h2>Product Description </h2>
            <p>Sweet and succulent. Blitz with low fat yogurt and oats for a super smoothie.</p>
            <p>FRESHNESS GUARANTEED. You want the freshest for your family and so do we. We've trained our Associates
            to pick the best and freshest products to meet your expectations.</p>
            
            <ul>
              <li>Color: <span>Red</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Organic Product: <span>Yes</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>
          </div>
          <script>
            function calculateAmount() {
                /*display the result*/
                var amount = document.getElementById('qty').value;
                var tot_price = amount * 3.97;
                document.getElementById("price").innerHTML = tot_price.toFixed(2);
            }
        </script>
          <div class = "purchase-info">
            <input type = "number" min = "0" value = "0" id="qty" onclick="calculateAmount()">
              
            <button type = "button" class = "btn">
              Add to Cart <i class = "fas fa-shopping-cart"></i>
            </button>
            <button type = "remove" class = "btn">Remove from Cart</button>
            <button type = "button" class = "btn">Compare</button>

          <div class = "total-calculation">
            <p>Total Price: $<span id="price">0.00</span></p>
        </div>
        </div>
            
        </div>
      </div>
      </div>
  </body>
</html>
  
