<!DOCTYPE html>

<html>

<head>
   
    <link rel="stylesheet" type="text/css" href="../../styles/FrontStoreSecond.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title> Home </title>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/BackStore.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="../Home.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Aisles.html">Aisles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../ShoppingCart.html">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../signup.html">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../UserList.html">User List</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
</header>

<div class="image">
    <img src="../../images/product_images/beef.jpg">
</div>
<div class="product-description">
    <dl>
        <dt>
            <h4> Turkey</h4>
        </dt>
        <dd>
            Raised without antibiotics brined turkey.
            <br/>
            Barrel brined (not injected) for up to 72 hours in brown sugar and spice marinade.
        </dd>
        <p> 1 kg</p>
        <br/>
        <b> 5.49$</b>
        <br/>
        <pre>
            
Product number: 606434 </pre>
    </dl>
    <br/>

    <h5> Ingredients:</h5>
    <p> Turkey, water, sea salt, brown sugar, spices, orange oil, and spice extractives.</p>
    

</div>

</body>
</html>